body{
    background-color: rgb(154, 95, 154);
}

.leftNav{
    font-size: 30px;
    color: black;
}

.homePage{
    text-align: center;
}

.homePage h1{
    font-size: 55px;
}

.logoContainer{
    width: 60%;
    margin: auto;
}

.standingsTable{
    width: 60%;
    margin: 25px auto;
    border: 1px solid black;
}

.olympicRingsImage{
    height: 150px;
}

.scheduleContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 25px auto;
}

.eventCard{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.schedulePage {
    width: 80%;
    margin: auto;
    text-align: center;
}

.schedulePage h2 {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.filterEvents{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    background-color: aliceblue;
    padding: 20px;
}

.filterGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filterEvents button{
    width: 100px;
    margin: 20px auto 0px auto;
}