body{
    background-color: rgb(154, 95, 154);
}

.leftNav {
    font-size: 30px;
    color: black;
    position: fixed;
    left: 30px;
    z-index: 1000; /* Ensure it stays above other elements */
}

.homePage{
    text-align: center;
}

.homePage h1{
    font-size: 55px;
}

.logoContainer{
    width: 60%;
    margin: auto;
}

.standingsTable{
    width: 60%;
    margin: 25px auto;
    border: 1px solid black;
}

.logoImage{
    height: 150px;
}

.scheduleContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 25px auto;
}

.eventCard{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 10px;
}

.schedulePage {
    width: 80%;
    margin: auto;
    text-align: center;
}

.schedulePage h2 {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.filterEvents{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    background-color: aliceblue;
    padding: 20px;
}

.filterGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filterEvents button{
    width: 100px;
    margin: 20px auto 0px auto;
}

.eventForm{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    position: relative;
    top: 40px;
  }

.eventFormGroup {
    font-weight: bold;
    margin-bottom: 10px;
}


.eventFormGroup select, .eventFormGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

@media only screen and (max-width: 900px) {
    .leftNav {
        font-size: 20px;
        top: 50px;
    }
}

@media only screen and (max-width: 576px) {
    .leftNav {
        font-size: 15px;
        position: fixed;
    }
    .logoImage{
        height: 75px;
    }
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 500px) {
    .schedulePage {
        padding: 10px;
    }

    .filterEvents {
        margin-bottom: 20px;
    }

    .filterGroup {
        margin-bottom: 10px;
    }

    .filterEvents h4 {
        font-size: 1.2em;
    }

    .filterGroup label {
        font-size: 1em;
    }

    select,
    input,
    button {
        width: 100%;
        margin-bottom: 5px;
    }

    .scheduleContainer {
        display: flex;
        flex-direction: column;
    }

    .eventCard {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .eventCard h2 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    .eventCard h3 {
        font-size: 1.2em;
        margin-bottom: 3px;
    }

    .eventCard h5 {
        font-size: 1em;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 450px) {
    .leftNav {
        position: relative;
        top: 20px;
    }
}