*{
    background-color: rgb(154, 95, 154);
}

.leftNav{
    font-size: 30px;
    color: black;
}

.homePage{
    text-align: center;
}

.homePage h1{
    font-size: 55px;
}

.logoContainer{
    width: 60%;
    margin: 25px auto 0px auto;
}

.standingsTable{
    width: 60%;
    margin: 25px auto;
    border: 1px solid black;
}

.olympicRingsImage{
    height: 150px;
}